body,html{background: #fafafa;}
.flex{display: flex;}
.header-navi{position: fixed;top:0;left:0;width: 100%;height: 45px;line-height: 45px;background: #fff;text-align: right;border-bottom: 1px solid #eee;}
.header-navi>div{display: inline-block;}
.header-navi>.user-header{display: inline-flex;align-items: center;height: 100%;margin-right: 15px;cursor: pointer;}
.header-navi>.user-header div:nth-child(2){margin-left: 10px;color: #337ab7}
.header-navi>.user-header>img{width: 25px; height: 25px;border-radius: 50%;}
.login-btn{color: blue}
.tag-btn{width: 30px;height: 40px;position: fixed;top: 2px;left: 10px;z-index: 1001;}
.tag-btn>span{position: absolute;height: 2px;width:30px;background: #bbb;left: 0}
.tag-btn .bar-icon:nth-child(1){top:8px;}
.tag-btn .bar-icon:nth-child(2){top:16px;}
.tag-btn .bar-icon:nth-child(3){top:24px;}
.tag-btn .bar-icon:nth-child(4){top:32px;}
.addblog{padding: 0 10px 0 20px; vertical-align: top;background: url('/blog/images/edit.jpg') no-repeat left center;background-size: 20px;}
.container{margin-top: 55px;margin-bottom: 20px;}
.blogs>section{border-bottom: 1px solid #eee;padding: 20px 15px;background: #fff;}
.tags-block{position:fixed;width:200px;top: 45px;left:0;transform: translateX(-100%);transition: transform .25s ease-in-out;background: #fff;z-index:10001}
.tags-block.active{transform: translateX(0%);}
.blogs .title{font-size: 22px;font-weight: bold;padding-bottom: 10px;}
.abstract-content{padding-bottom: 10px;}
.extract-list{display: flex;}
.extract-list>div{width: 50%;white-space: nowrap;align-items: center;}
.extract-list img{width: 25px;border-radius:50%;height: 25px;}
.list-left>div,.list-right>div{margin-left: 10px;}
.list-right{text-align: right;}
.list-right div:nth-child(1){width:100%;border-right: 1px solid #888;padding-right: 10px;}
.list-right>div{text-align: right;}
.list-group{border: 1px solid #eee;border-radius: 3px;}
.list-group .title { background-color: #337ab7; color: #fff;}
.list-group .active{color: #337ab7}
.list-group div+div {border-top: 1px solid #eee;}
.list-group div {display: inline-block;width: 100%;padding: 10px 0;text-align: center;}